body{
	margin: 0;
	padding: 0;
	background : rgb(240,239,239);
	font-family: 'Poppins',sans-serif;

} 
.box{
	background-image: url(11.jpg) ;
	padding: 1rem;
	margin: auto;
	display: grid;
	
}
.header{
	display: grid;
	grid-template-columns: 50% 50%;
}
.header-left{
	display: grid;
	font-size: 2rem;
	margin-top: 1%;
}
.header-right{
	display: flex;
	justify-content: flex-end;
	float: right;
	margin-top: 1%;
	margin-right: 20%;
}

.first-name{
	font-size: 90%;
	margin: 0;
	color: white;
	padding: 1%;
}
.last-name{
	font-size: 40%;
	margin: 0;
	color: white;
	padding: 1%;
}
.name{
	margin-left: 10%;
	margin-top: 3%;
	
}
.grid-container > div {
	padding: 50px;
	font-size: 15px;
	margin-left: 30px;
	margin-right: 30px;

}
.logo{
	width: 30%;
	float: right;
	box-shadow: 4px 3px 4px 3px #888888;


}

.grid-container1 > div {
	text-align: center;
	padding: 20px;
	font-size: 11px;
	background-color: white;
	margin-left: 60px;
	margin-right: 60px;
	box-shadow: 5px 6px 8px 6px #888888;
}
.grid-container,.grid-container1 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 50px;
	padding: 5px;
	margin-left: 80px;
	margin-right: 80px;
}

.imgss{

	font-size: 4rem;
	margin-right: 0.5rem;
	
}

.button {
	background-color:rgb(7, 136, 181);
	border: none;
	color: white;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 4px 4px;
	cursor: pointer;
	font-weight: 500;
}
.text1{
	font-style: bold;
	font-size: 120%;
	color: black;
	font-weight: 500;
}
#cont{
	background-color: white;
	padding: 1%;
	width: 100%;
	margin-top: 3%;
	text-align:  center;
}
.button1 {
	background-color:rgb(255, 93, 0);
	border: none;
	color: white;
	padding: 5px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 4px 2px;
	cursor: pointer;
	font-weight: 500;
}
.Testimonials{
	margin-left: 80px;
	margin-right: 80px;
	padding: 3%;
	font-weight:500;
	margin-top: -2%;

}
.containnr{
	margin-right: 3%;
	font-weight: 700;

}
.grid-container11 {
	display: grid;
	grid-template-columns: auto auto auto ;
	grid-gap: 50px;   
	margin-top: -1%;
	margin-left: 80px;
	margin-right: 80px;


}

.grid-container11 > div {
	text-align: center;
	margin-top: -5%;
	margin-left: 60px;
	margin-right: 60px;
}
.ash{
	border-radius: 50%;
	width: 25%;

	border: 3px solid white;
	margin-top: 5%;

}
.grid-container12 > div {
	text-align: left;
	padding:15%;
	font-size: 10px;
	background-color: white;
	margin-left: 60px;
	margin-right: 60px;
	box-shadow: 5px 6px 8px 6px #888888;
	margin-bottom: 20%;
	margin-top: 5%;

}
.grid-container12{
	display: grid;
	grid-template-columns: auto auto auto ;
	grid-gap: 50px;

	padding: 5px;

	margin-left: 80px;
	margin-right: 80px;
}
a:link {
	color: blue;
}

/* visited link */
a:visited {
	color: green;
}

/* mouse over link */
a:hover {
	color: hotpink;
}

/* selected link */
a:active {
	color: blue;
	font-size: 20%;
}

#lastrow{
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 2% 15%;
}

.message{
	text-align: center;
}

.avatar{
	border-radius: 50%;
	border: 5px solid white;
}

.message-box{
	background-color: white;
	margin: 0% 5%;
	padding: 8% 5%;
	text-align: left;
	border-radius: 3px;
}

.pointer {
	height: 20px;
	width: 20px;
	background: white;
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 5px 0 0 0;
	margin-top: 22px;
	margin-bottom: -10px;
	position: relative;
	left: 0.5vw;
}
hr{
	height: 5px;
	border:none;
	background-color: black;
}
@media only screen and (max-width: 768px) {
	#lastrow{
		grid-template-columns: auto;
	}

	.grid-container{
		grid-template-columns: auto;
		margin: 0;
		font-size: 20px;

	}
	.message{
		margin-top: 20px;
	}
	
	.header{
		display: grid;
		grid-template-columns: auto;
	}
	
	.igmd{
		width: 80%;
	}

	.grid-container1 {
		grid-template-columns: auto ;
		padding: 0px;
		margin: 10px;
		border:10px;
	}

	.grid-container > div {
		padding: 10px;
	}

}