body{
	background-color:rgb(255, 252, 216);
	margin: 0px;
	padding: 0px;
}
label{
	font-style: bold;
}
.centered {

	background-color: white;
	border-radius: 10px;
	width: 27%;
	height: 55%;
	position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
#p1{
	color:#6E2C00;
	position: fixed;
    top: 18%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-family: bold;

}
.p1{
	text-align: center;
	color: blue;
	font-style: bold;
	font-weight: 600;
}
.p11{
	text-align: center;
	font-weight: 600;
	font-size: 13px ;
	margin-top:-10px;

}
#forgot
{
	margin-top: -30px;
	float: right;
	font-size: 12px;
}
.name{
	width:80%;
	height: 0%;
	margin-left:30px;
	margin-top: 5px;
	padding: 5px;

}
.cot{
	margin-top:10px;
	margin-left: 30px;
	font-size: 15px;
	font-style: bold;
	font-weight: 600;
}
.username2{
	margin-left: 30px;
	font-weight:600;
		font-size: 15px;
}
.checkbox{
	margin-top: 15px;
	margin-left: 30px;
}
#submit{
	float: right;
	padding: 5px;
	width: 70px;
	margin-right: 27px;
	background-color: blue;
	color: white;
	font-style: bold;
	border-radius: 5px;
	border: none;
}
#signup{
margin-top: 22%;
margin-left: 17%;
}
#signup1{
	color: blue;

	font-weight: 600;
	font-size: 15px;
}
#span1{
	font-weight: 900;
}
#div2{
	margin-top: 30px
}
#pass{
	margin-top:-10px
}
