body{
	background-color:rgb(255, 250, 250);
	margin: 0px;
	padding: 0px;
}
label{
	font-style: bold;
}
.centered {
	background-color: white;
	border-radius: 10px;
	width: 30%;
	height: 70%;
	position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
#p1{
	color:#6E2C00;
	position: fixed;
    top: 15%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
#p2{
    font-family: bold;
     style="font-size: 13px ;margin-top:-10px
}
#pt{
	color: blue;
	font-style: bold;
	font-weight: 600;

}
.p1{
	text-align: center;
}
#forgot
{
	margin-top: -30px;
	float: right;
	font-size: 12px;
    
}
.name{
	width:80%;
	height: 0%;
	margin-left:30px;
	margin-top: 10px;
	padding: 5px;

}
.name1{
	width:80%;
	height: 0%;
	margin-left:30px;
	margin-top: 10px;
	padding: 5px;

}
.cot{
	margin-top:10px;
	margin-left: 30px;
	font-size: 15px;
	font-style: bold;
	font-weight: 600;
}
.username2{
	margin-left: 30px;
	font-weight:600;
		font-size: 15px;

}
#username3{
	margin-left: 30px;
	font-weight:600;
		font-size: 15px;
		margin-top: 50px;
}
.checkbox{
	margin-top: 15px;
	margin-left: 30px;
}
#submit{
	float: right;
	padding: 5px;
	width: 70px;
	margin-right: 27px;
	background-color: blue;
	color: white;
	font-style: bold;
	border-radius: 5px;
	margin-top: 10px;
	border: none;
}
#signup{
	margin-top: 80px;
	margin-left: 25%;
}
#signup1{
	color: blue;
	font-style: bold;
	font-weight: 500;
	font-size: 15px;
}
#term{
	font-weight: 400;
		font-size: 15px;
}
#span1{
	tyle=font-weight: 900;
	text-align: center;
}